*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
.flex{
    display: flex;
    justify-content: space-between;
}
.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.fixed{
    position: fixed;
}
.opacity{
    background-color: rgb(4, 3, 3, 0.5);
}
.w100{
    width: 100%;
}
.w90{
    width: 90px;
}
.w60{
    width: 60%;
}
.w20{
    width: 20%;
}
.w33{
    width: calc(100% / 3);
}
.height-1{
    height: 2px;
}
.relative{
    position: relative;
}
.white{
    color: white;
}
.bg-white{
    background-color: white;
}
.gray{
    color: rgb(173, 173, 173);
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.padtopbot-15{
    padding: 15px 0;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.h-100{
    height: 100%;
}
.pad-right-20{
    padding-right: 20px;
}
.pad-right-40{
    padding-right: 40px;
}
.pad-lef-right-10{
    padding: 0 10px;
}
.pad-lef-10{
    padding-left: 10px;
}
.underline-white{
    text-decoration: underline;
    text-decoration-color: rgb(255, 255, 255);
}
.underline-white2{
    text-decoration: underline;
    text-decoration-color: rgb(111, 111, 111);
}
.m-left{
    padding-left: 5px;
}
.black{
    color: black;
}



/* esercizio */

#vw{
    height: 100vh;
    background-color: rgb(0, 255, 255);
}

p{
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
    margin-right: 30px;
}


#main{
    background-color: rgb(176, 210, 210);
    height: 90%;
    display: flex;
}

#nav{
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding-right: 50px;
    color: white;
    line-height: 25px;
    /* overflow-y: auto; */
}
.list-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo{
    width: 100px;
}
.small{
    width: 13px;
}
#content{
    height: 100%;
    width: 100%;
    background-color: rgb(108, 95, 95);
    padding-top: 70px;
    overflow: scroll;
}
.list-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
li{
    list-style: none;
    margin: 0 5px;
}

.container-song{
    display: flex;
    flex-wrap: nowrap;
    
}
.box-song{
    width: calc(100% / 6);
    /* background-color: blue; */
}
img{
    width: 100%;
    padding: 2px;
}
.box-radius{
    border-radius: 50%;
}

#footer{
    background-color: rgb(0, 0, 0);
    height: 10%;
    color: white;
}
.list-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sinister{
    width: 18%;
}
.flex-foot{
    display: flex;
    align-items: center;

}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: rgb(153, 255, 0);
  }

/* media query per tablet*/
@media screen and (max-width: 768px){
    #nav{
        padding-right: 20px;
    }
    .container-song{
        display: flex;
        flex-wrap: wrap;
    }
    .box-song{
        width: calc(100% / 4);
    }
    #sinister{
        width: 25%;
    }
    #vw{
        width: 100%;
    } 
    
}
/* media query per telefono*/
@media screen and (max-width: 426px){
    #nav{
        padding-right: 0px;
    }
    .container-song{
        display: flex;
        flex-wrap: wrap;
    }
    .box-song{
        width: calc(100% / 2);
    }
    .dis-none{
        display: none;
    }
    .list-nav{
        height: 100%;
    }
    #vw{
        width: 100%;
    } 
    #sinister{
        width: 50%;
    }
}
