*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */

.z-index-1{
    z-index: 1;
}
.z-index-2{
    z-index: 2;
}
.z-index-3{
    z-index: 3;
}
.fixed{
    position: fixed;
}
.opacity{
    background-color: rgb(4, 3, 3, 0.5);
}
.w100{
    width: 100%;
}
.relative{
    position: relative;
}
.white{
    color: white;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.padtopbot-15{
    padding: 15px 0;
}
.text-center{
    text-align: center;
}
.h-100{
    height: 100%;
}


/* esercizio */

#vw{
    height: 100vh;
    background-color: rgb(0, 255, 255);
}

p{
    border: 1px solid white;
    padding: 5px;
    border-radius: 30px;
    margin-right: 30px;
}


#main{
    background-color: rgb(176, 210, 210);
    height: 90%;
    display: flex;
}

#nav{
    height: 100%;
    background-color: red;
    padding-right: 40px;
}
.list-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#logo{
    width: 100px;
}
#content{
    height: 100%;
    width: 100%;
    background-color: rgb(108, 95, 95);
    padding-top: 70px;
    overflow: scroll;
}
.list-row{
    display: flex;
    justify-content: center;
}
li{
    list-style: none;
    margin: 0 5px;
}

.container-song{
    display: flex;
    flex-wrap: nowrap;
    
}
.box-song{
    width: calc(100% / 6);
    /* background-color: blue; */
}
img{
    width: 100%;
    padding: 2px;
}
.box-radius{
    border-radius: 50%;
}

#footer{
    background-color: rgb(35, 40, 40);
    height: 10%;
}
.list-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* media query per tablet*/
@media screen and (max-width: 768px){
    #nav{
        padding-right: 20px;
    }
    .container-song{
        display: flex;
        flex-wrap: wrap;
    }
    .box-song{
        width: calc(100% / 4);
    }
}
/* media query per telefono*/
@media screen and (max-width: 426px){
    #nav{
        padding-right: 0px;
    }
    .container-song{
        display: flex;
        flex-wrap: wrap;
    }
    .box-song{
        width: calc(100% / 2);
    }
    #logo{
        display: none;
    }
    .list-nav{
        height: 100%;
    }
}